.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.modal__content {
    background-color: #FFFFFF;
    max-width: 496px;
    width: 100%;
    border-radius: 20px;
    padding: 36px 28px;
    position: relative;
}

.modal__close-button {
    background: transparent url('../../images/cross.svg') center no-repeat;
    border: none;
    position: absolute;
    display: block;
    cursor: pointer;
    padding: 0;
    background-size: 20px 20px;
    height: 16px;
    width: 16px;
    right: 28px;
}

.modal__submit-button {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 32px;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}