.card {
    display: flex;
    position: relative;
    justify-content: center;
    width: 323px;
    height: 326px;
    overflow: hidden;
    border-radius: 20px;
    align-items: center;
    border: 1px solid #00000030;
}

.card__name {
    background-color: #FFFFFF;
    padding: 2px 12px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
}

.card__title {
    display: flex;
    position: absolute;
    top: 10px;
    gap: 8px;
    color: rgba(0, 0, 0, 0.6);
}

.card__image {
    width: 323px;
    height: auto;
}