.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 20px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
  
.header__logo, .header__navigation {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__avatar-logo {
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.header__button {
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: auto;
    color: #000000;
    cursor: pointer;
}