.modal__image-container {
    width: 498px;
    height: 498px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.modal__image {
    width: 498px;
    height: auto;
}

.modal__header {
    display: flex;
    justify-content: space-between;
}

.modal-item__delete-button {
    border: none;
    background-color: transparent;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FF4D00;
    cursor: pointer;
}

.modal-item__delete-button_visible {
    display: block;
}

.modal-item__delete-button_hidden {
    display: none;
}