.side-bar {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.side-bar__menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.side-bar__menu-button {
    cursor: pointer;
}

.side-bar__profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

.side-bar__profile-avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}