.weather {
    display: flex;
    align-items: center;
}

.weather_info {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    width: 100%;
    color: #FFFFFF;
}   