@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('../../../public/fonts/Cabinet_Grotesk/CabinetGrotesk-Regular.woff');
}

.card_section {
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    color: #000000;
}